RAZORPAY_KEY_ID=rzp_test_Rp3mZlJIsZ9QBf
RAZORPAY_KEY_SECRET=TLuBp6HkjjZ0bXyN0TeLRIt3
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_Rp3mZlJIsZ9QBf
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=kingsaksham90@gmail.com
SMTP_PASS=qsfb olzy fybn skjg
MONGODBURI=mongodb+srv://kingsaksham90:Saksham123@cluster0.vafjotx.mongodb.net/blog-app
NEXT_PUBLIC_APP_URL=https://bee-desi.vercel.app
